{% extends 'ncubook/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<p class="title is-size-5 is-size-6-mobile">Password Reset</p>
<hr>

<!-- Password Reset Form -->
<div class="columns is-centered has-text-centered">
  <div class="column is-wider is-half-tablet">
    <div class="card">
      <div class="card-content">
        <form role="form" method="post" autocomplete="off">
          {% csrf_token %}

          <!-- OTP -->
          <div class="field">
            <div class="control">{{form.otp}}</div>
          </div>

          <!-- New Password -->
          <div class="field">
            <div class="control has-icons-left">
              {{form.new_password}}
              <span class="icon is-small is-left"><i class="fa fa-key"></i></span>
            </div>
          </div>

          <!-- New Password errors -->
          {% if form.new_password.errors %}
            <p class="help is-danger">
              <ul>
                {% for error in form.new_password.errors %}
                  <li>
                    <strong style="color: red;">{{ error|escape }}</strong>
                  </li>
                {% endfor %}
              </ul>
            </p>
          {% endif %}
          
          <!-- Submit Button -->
          <div class="field">
            <div class="control">
              <button class="button is-link is-rounded" name="action" type="submit">
                <b>Update</b>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
