{% extends 'ncubook/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">Password Reset Confirm</p>
  <hr class="page-header-hr">
</center>

<p class="help-text has-text-centered">
  Enter your username to initiate password reset process for your account.<br><br>
</p>

<!-- Username Form -->
<div class="columns is-centered has-text-centered">
  <div class="column is-wider is-half-tablet">
    <div class="card">
      <div class="card-content">
        <form action="{% url 'users:password_reset_confirm' %}" method="POST" autocomplete="off">
          {% csrf_token %}

          <!-- Username -->
          <div class="field">
            <div class="control has-icons-left">
          <input class="input is-rounded" name="username" type="text" value="{{username}}" placeholder="Your Username">
              <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="field">
            <div class="control">
              <button class="button is-link is-rounded" name="action" type="submit">
                <b>Continue</b>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


{% endblock content %}
